@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="nav-link text-blue" asp-area="" asp-controller="Donors" asp-action="Create">Register to Donate</a>
<a class="nav-link text-blue" asp-area="" asp-controller="Donors" asp-action="List">List of Donors</a>