@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
<p style= "color:black;">Please complete the form below to confirm your blood group </p>
<a class="nav-link text-dark" asp-area="" asp-controller="BloodGroups" asp-action="Create">Register to give blood</a>

    <img src="~/css/bloodbank.jpg" alt="test" width="1100" height="400" style="align-content"/>
</div>